// COLORS
$Light_Green: #7ed56f;
$Medium_Green: #55c57a;
$Dark_Green: #28b485;
$color_grey_dark: #777;
$color-white: #fff;
$color_black: #000;
$color-grey-light-1: #f7f7f7;
// GIRD
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
