// COLORS
$Light_Green: #7ed56f;
$Medium_Green: #55c57a;
$Dark_Green: #28b485;
$color_grey_dark: #777;
$color-white: #fff;
$color_black: #000;
$color-grey-light-1: #f7f7f7;
$color-card-1: #ffb900;
$color-card-11: #ff7730;
$color-card-3: #2998ff;
$color-card-31: #5643fa;

// GIRD
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
