.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  @include respond(tab-port) {
    padding: 8rem 0;
  }
  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }
  &__logo {
    width: 15rem;
  }
  &__navigation {
    border-top: 1px solid gray;
    display: inline-block;
    padding-top: 2rem;
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      background-color: #333;
      transition: all 0.2s ease-in-out;
    }
    &:hover,
    &:active {
      color: $Dark_Green;
      box-shadow: 0 1rem 2rem rgba(black, 0.5);
      transform: rotate(5deg) scale(1.3);
    }
  }
  &__copyright-text {
    border-top: 1px solid gray;
    display: inline-block;
    padding-top: 2rem;
    width: 80%;
    color: white;
  }
}
